/* Ensure radio question labels break long words to prevent overflow */
.govuk-radios__input + .govuk-radios__label::before {
  background-color: #fff !important;
}

.govuk-radios__input:checked + .govuk-radios__label::after {
  background-color: #1d70b8 !important;
}

.govuk-label {
    overflow-wrap: break-word;
    word-break: break-word;
}