.govuk-tabs_underline {
    text-decoration: underline !important;
}

.govuk-tabs_underline:hover {
    text-decoration: underline 3.5px !important;
}

.govuk-tabs_focus:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    -webkit-box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}

.govuk-width-container--wide {
  max-width: 1200px;
}

.govuk-back-link {
  color: #000000 !important;
  text-decoration: underline !important;
  text-decoration-thickness: max(1px, .0625rem) !important;
  text-underline-offset: .1578em !important;
}

.govuk-back-link:hover {
    color: #000000 !important;
    text-decoration-thickness: max(3px, .1875rem, .12em) !important;
}

.address-break {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    display: block;
}